Body {
	font-size: 14 px;
	color: #930; 
	background: url(files/Zad.jpg) no-repeat;
	background-size: cover;
}

header {
	
}

.pics {
	background: url (files/Zad.jpg);
}

.pic1 {
	url: (files/Pica-pica.jpg);
	text-align: left;
	width: 70px;
	high: 120px;
}

.Pic-pic {
	url: (files/Vlad.jpg);
	text-align: right;
	width: 70px;
	high: 120px;
}
.picnav {
	background: url(files/Untitled.png);
}
