Body {
	font-size: 18px;
	color: #444444; 
	background: url(files/Zad.jpg) no-repeat;
	background-size: cover;
}

header {
	Font-size: 26px;
	color: #555555; 
	backgraund: url(files/Untitled.png) no-repeat center top;
	text-align: center;
	/** backgraund: url(files/Monobank-card.png); **/
}
h1 {
	position: absolute;

.topchik {
 text-align: no-repeat top center;
  position: relative;
}

.Monobank {
padding: right 15px; 
}

.Vlad {
text-align: left;
}

.Stas {
text-align: right;
}

.pics {
	background: url (files/Zad.jpg);
}

.pic1 {
	url: (files/Pica-pica.jpg);
	text-align: left;
	width: 70px;
	high: 120px;
}

.Pic-pic {
	url: (files/Vlad.jpg);
	text-align: right;
	width: 70px;
	high: 120px;
}
.picnav {
	background: url(files/Untitled.png);
}
