Body {
	font-size: 14px;
	color: #555555; 
	background: url(files/Zad.jpg) no-repeat;
	background-size: cover;
}

header {
	Font-size: 28px;
	color: #555555; 
	backgraund: url(123/files/Untitled.png) no-repeat center top;
	text-align: center;
	backgraund: url(123/files/Monobank-card.png) no-repeat center left;
}

.topchik {
 text-align: no-repeat top center;
}

.Monobank {
padding: right 15px; 
}

.pics {
	background: url (files/Zad.jpg);
}

.pic1 {
	url: (files/Pica-pica.jpg);
	text-align: left;
	width: 70px;
	high: 120px;
}

.Pic-pic {
	url: (files/Vlad.jpg);
	text-align: right;
	width: 70px;
	high: 120px;
}
.picnav {
	background: url(files/Untitled.png);
}
